html {
    background-color: #f0f4f7;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #e1ff006a;
    padding: 20px;
}

img {
    width: 100%;
    height: auto;
}

p {
    text-indent: 2em; 
}

.intro-title {
    text-align: center; /* 在 .intro-title 中居中标题 */
    font-weight: bold; 
    border-bottom: 2px solid  rgb(148, 75, 12); /* 设置下边框的颜色和厚度 */
    padding-bottom: 10px; /* 让文本和边框之间有一定的间距 */
    margin-top: 15px; /* 为标题和上面内容之间添加间距 */
    margin-bottom: 20px; /* 为标题和下面的内容之间添加间距 */
    color: #333333e1; /* 设定标题的颜色 */
    font-size: 20px; /* 调整标题的字体大小 */
}

/* 使 .content-container 中的图片和文字并排显示 */
.content-container {
  display: flex;
  align-items: flex-start;
  gap: 15px; /* 替代 margin-right 用于图片与文字之间的间距 */
  border: 1px solid  rgb(148, 75, 12); /* 上下左右边框 */
}

.content-container img {
  max-width: 180px; 
  height: auto; 
}

.content-container p {
    margin: 0; /* 确保没有额外的边距 */
    flex: 1;
    line-height: 1.8; /* 调整为所需的行距 */
}

.text-container h4 {
    display: inline-block;   /* 使背景块大小仅包围文字 */
    background-color: #FFA500; /* 橘黄色背景 */
    color: #FFFFFF;           /* 白色字体 */
    font-weight: bold;        /* 字体加粗 */
    padding: 5px 10px;        /* 添加一些内边距使背景块更明显 */
    margin: 0;                /* 移除外边距，确保背景块紧贴文字 */
    margin-top: 10px;         /* 添加顶部外边距，确保背景和上边框之间有间距 */
}

.content-container {
    margin-bottom: 20px; 
}